@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

@font-face {
    font-family: idroid;
    src: url(pacote-projeto-d010/fontes/idroid.otf) format('opentype');
}

@font-face {
    font-family: BebasNeue;
    src: url(pacote-projeto-d010/fontes/BebasNeue.ttf) format('truetype');
}

@font-face {
    font-family: Harabara;
    src: url(pacote-projeto-d010/fontes/Harabara.otf) format('opentype');
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
}


body{
    background-color: #db7777;
}

header{
    height: 110px;
    background-image: linear-gradient(to bottom, #bd5d5d 30%, #5C3232 100%);
    text-align: center;
    color: white;
}

header > p{
    text-align: center;
    font: normal 9pt Arial;
    max-width: 400px;
    margin: auto;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.493);
    padding: 0;
    max-height: 35px;
    line-height: 1em;
    text-indent: 0;
}

h1{
    font: normal 22pt 'BebasNeue', cursive;
    padding: 15px 0px 5px 0px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.493);
    text-align: center;
}

h2{
    padding: 15px 15px;
    font: normal 1.3em idroid;
    color: #5C3232;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.493);
}

h3{
    background-image: linear-gradient(to right, #bd5d5d, transparent );
    padding: 3px 15px;
    font: normal 0.9em idroid;
    color: #641c1c;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.493);
}

h4{
    font: bold 11pt 'Readex Pro';
    color: white;
    border-radius: 10px 10px 0px 0px;
    margin: auto;
    text-align: left;
    width: 95%;
    background-color: #5C4D4D;
    padding: 8px 15px;
}

nav{
    background-color: #5c3232;
    padding-top: 10px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.185);
}

nav > ul{
    padding: 3px 7px;
    display: flex;
}

nav > ul > li{
    margin-right: 5px;
}

nav > ul > li > a{
    padding: 5px;
    font: normal 0.72em Harabara;
    color: #fdbebe;
    transition: 0.5s;
}

nav > ul > li > a:hover{
    background-color: #f3cdcdbb;
    color: #A85B5B;
    border-radius: 3px 3px 0px 0px;
}

main{
    min-width: 350px;
    max-width: 1000px;
    margin: auto;
    height: auto;
    width: 70%;
    background-color: white;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.185);
    border-radius: 0px 0px 10px 10px;
}

main > p > a{
    color: #641c1c;
    font-weight: bold;
    background-color: #db7777c9;
}

main > p > a::after{
    font-weight: normal;
    content: '📎';
}

main > section > article > p > a{
    color: #641c1c;
    font-weight: bold;
    background-color: #db7777c9;
}

main > section > article > p > a::after{
    font-weight: normal;
    content: '📎';
}

p{
    padding: 5px 15px;
    text-align: justify;
    font: normal 8pt 'Readex Pro';
    text-indent: 30px;
    line-height: 1.8em;
}

abbr{
    text-decoration: underline dotted;
    cursor: help;
}

img{
    margin: auto;
    display: block;
    width: 95%;
}

.droid_img{
    max-width: 350px;
}


.video_container{
    margin: 5px 0px ;
    background-color: #5C3232;
    padding: 20px 0px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    position: relative;
    padding-bottom: 55%;
}

.video_container > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.finish_section{
    padding-top: 15px;
    margin: auto;
}

.art_content{
    background-color: #E1BDBD;
    width: 95%;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.322);
}

.art_content > ul{
    columns: 2;
}

.art_content > ul ul > li{
    font: normal 8pt 'Readex Pro';
}

.art_content > ul ul > li::before{
    content: '✔️ ';
}

.highlighted_letter{
    color: #641c1c;
    font-weight: bold
}

footer{
    position: relative;
    padding-top: 10px;
}

footer > p{ 
    padding: 1px;
    font: normal 8pt 'Readex Pro';
    color: white;
    text-align: center;
    background-color: #411212;
}

footer a{
    color: white;
    
}

footer a:hover{
    text-decoration: underline;
    color: #d49999;

}

.italic{
    font-style: italic;
    font-weight: lighter;
}

.bold{
    font-weight: bold;
}

.last_p{
    padding: 10px;  
}