@charset "UTF-8";

body{   
    background-color: rgb(107, 107, 107);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1{
    color: white;
    background-color: rgb(77, 76, 76);
}

h2{
    color: mediumblue;
}

p{
    text-align: justify;
}